/* Reset default margin and padding */

/* Preloader styles */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #fff; /* White text */
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Longer spinner duration */
}

.loading-text {
    margin-top: 20px;
    font-size: 18px;
}

.dot1, .dot2, .dot3 {
    animation: dots 1s infinite;
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.4s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Hide content initially */
.container {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #555;
}

/* Paragraph styles */
p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

/* List styles */
ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}

/* Highlighted text */
b {
    color: #007bff;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

/* Link styles */
.button-container {
    text-align: center; /* Center align horizontally */
    margin-top: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff; /* White color */
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

a.active {
    background-color: #0056b3; /* Darker blue for active state */
}