.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #fff;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.loading-text {
    margin-top: 20px;
    font-size: 18px;
}

.dot1, .dot2, .dot3 {
    animation: dots 1s infinite;
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.4s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background: url("BG_Image.jpg") center center/cover fixed;
}

.container {
    max-width: 800px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    color: #ededed;
    font-size: 36px;
    margin-bottom: 50px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons-container button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* white-space: nowrap; */
}

.buttons-container button:hover {
    background-color: #012042;
}